<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="studios.sperry.healthpile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_health_pile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_health_pile_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:roundIcon">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/NoToolBarOnly"/>

        <activity android:name=".activities.SingleDiseaseInfo" />
        <activity
            android:name=".activities.LaunchActivity"
            android:theme="@style/NoToolBarAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.intro.IntroActivity" />
        <activity android:name=".activities.faqs.FaqActivity" />
    </application>

</manifest>